mixin navigation (className, items, activeItem)
    nav(class=""+className)
        ul(class=""+className+"__list")
            each nav, ndx in items
                li(class=""+className+"__item" + ( (ndx == activeItem) ? ' '+className+'__item_active' : '' ))
                    a(href="#" class=""+className+"__link")= nav

mixin list(className, items)
    ul(class= "" + className + "__list")
        each item in items
            li(class= "" + className + "__item")

mixin colorsList(className, options)
    ul(class= "" + className + "__list")
        each option in options
            li(class= "" + className + "__item")
                div(class= "" + className + "__color-square" + " " + option.class + " " + "rounded")
                div(class= "" + className + "__info")
                    h2(class= "title")= option.color
                    span(class= "text")= option.hex

mixin textSizesList(className, options)
    ul(class= "" + className + "__list")
        each option in options
            li(class= "" + className + "__item")
                div(class= "" + className + "__sizes")
                    if option.tag="H1"
                        h1()=option.size
                    else if option.tag="H2"
                        h2()=option.size
                    else if option.tag= "H3"
                        h3()=option.size
                    else
                        p()=option.size
                div(class= "" + className + "__info")